@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.extract-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.extract-tittle h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin: 20px 20px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 20px;
}

.extract{
    display: block;
    width: 95%;
    margin: auto;
}

.form-extract{
    margin: auto;
    background-color: rgb(0, 41, 65);
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2em #003557 solid;
    color: white;
}

.form-extract select,
.form-extract input[type=file],
.form-extract .custom-file-upload {
    font-family: 'Poppins', sans-serif;
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    background-color: #001e30;
    color: white;
    margin: 20px;
    align-items: center;
}

.btn-submit {
    font-family: 'Poppins', sans-serif;
    background-color: #00974c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #00b85c;
}

.btn-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.text-content {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #011d36;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 107, 32);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: rgb(0, 156, 32);
}

.history{
    margin: auto;
    width: 75%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #011d36;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.history-item{
    margin: auto;
    width: 90%; /* Add this line */
    height: auto;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0086a1;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .form-extract{
        flex-direction: column;
        width: 90%;
    }

    .form-extract select,
    .form-extract input[type=file],
    .form-extract .custom-file-upload {
        width: 80%;
    }

    .history{
        width: 90%;
    }
}
